.header {
  text-align: center;
  background: steelblue;
  font-size: 30px;
  color: black;
  padding: 0;
}

.subHeader {
    padding: 0;
    background: black;
}

button {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
}

p.info {
  
  margin-left:auto;
  margin-right:auto;
    width: 70%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 24px;
    color: black;
}

#content {
    display: grid;
    grid-template-columns: 375px 375px 150px 500px;
    grid-auto-rows: 250px 250px 200px 250px 250px 150px 250px 250px 20px;
    grid-gap: 20px;
}

#lineChart{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
#table{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 270px 270px;
    grid-auto-rows: 250px;
    /* grid-gap: px; */

}
#table.table{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}#table.moveTable{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#bubbleText{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

#bubbleChart{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}
#genreText{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

#streamChart{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
}
#barChart{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}
#infoTable{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
}

#lines path {
    stroke: green;
}

path#hover {
    stroke: lightgray;
}
path#click {
    stroke: green;
}

circle#unselected{
    fill: white;
    stroke: black;
}

circle#selected {
    /* fill: steelblue; */
    stroke: black;
}

circle#hover {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}
.table th {
    border: 1px solid black;
    border-collapse: collapse;
}
.movieTable th {
    border: 1px solid black;
    border-collapse: collapse;
}
#table th {
    text-align: center;
}

tr {
    background-color: none;
    color: black;
}

tr#highlight {
    background-color: gray;
    color: white;
}

.table-scroll {
    height: 500px;
    width: 2750px;
    overflow: auto;
    /* overflow-y: hidden */
}
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }
  
  ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0, 0.2);
    -webkit-border-radius: 7px;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
      inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
  
  ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }


rect.barHover {
    fill: lightgray;
}
rect.barClick {
    fill: firebrick;
}






tr.active{
    background: steelblue;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    font: 14px sans-serif;
}
.movieTable {
    border: 1px solid black;
    border-collapse: collapse;
    font: 14px sans-serif;
}
.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(243, 240, 240);
    color: rgb(9, 9, 9);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .bubble:hover{
    stroke-width: 3;
}
.tooltip:hover  {
    visibility: visible;
  } 
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  th:first-of-type {
    text-align: left;
}

th {
    font-weight: bold;
    text-align: center;
    padding-right: 6px;
    min-width: 125px;
}

th:last-of-type
{
    text-align: right;
}

td:first-of-type {
    text-align: left;
}


td {
    text-align: center;
}

/* td:last-of-type
{
    text-align: center;
}*/

.sorting {
    background: black;
    color: white;
}

.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
}

.sortable:hover {
    background: #d1d1d1;
}

.sortable.sorting:hover {
    background: #232323;
}

.trump {
    color: firebrick;
    fill: firebrick;
}

.biden {
    color: steelblue;
    fill: steelblue;
}

/* td {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    color:black;
} */

#predictionTable td {
    line-height: 0;
}

#predictionTable tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #efefef;
}

.label{
    text-anchor: middle;
}

@font-face {
    font-family: 'font1';
    src: url('assets/font1.ttf');
}

h1 {
    margin-top: 0;
    color: #343651;
}

h2 {
    color: #343651;

}

* {
    font-family: 'font1';
}

header {
    padding: 0.5em;
    text-align: center;
    height: 100px;
}
.table2 , th, tr, td {
    border:none;
    max-width:100%;
    white-space:nowrap;
}
 .text {
    text-align: left;
}